<!-- home all user details -->

<div *ngIf="display.home" class="">
  <input type="text" class="form-control float-right ml-sm-3 mt-3 w-25 font-weight-bold text-secondary"
    placeholder="Search for speciality" [(ngModel)]="filter">
  <div class="container d-flex flex-wrap justify-content-center">
    <ng-container *ngFor="let coach of coachArray | searchCoach: filter">
      <div class="col-md-5 mx-4 card my-5 py-1"
        style="background-color: white;border-radius: 1em;box-shadow: .1em .1em .3em;">
        <div class="row card-body">
          <div class="col-xl-6 text-center">
            <img *ngIf="coach?.gender=='M'" src="../../assets/Images/male.png" alt="userDefaultImg"
              class="img-responsive w-100 rounded-circle">
            <img *ngIf="coach?.gender=='F'" src="../../assets/Images/female.png" alt="userDefaultImg"
              class="img-responsive w-100 rounded-circle">
          </div>
          <div class="col-xl-6 text-dark">
            <h5 class="mt-3 font-weight-bold">{{coach?.name}}</h5>
            <div class="font-weight-bold">
              <h6 class="font-weight-bold my-2 text-lg">{{coach?.coachId}}</h6>
              Date of Birth: {{coach?.dateOfBirth | date:'d/m/yyyy'}}<br>
              Mobile No: {{coach?.mobileNumber}}<br>
              Speciality: {{coach?.speciality}}<br>
            </div>
            <button class="btn btn-block btn-primary font-weight-bold mt-2" (click)="bookAppt(coach?.coachId)">Book an
              Appointment</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- booking -->
<div *ngIf="apptFormDisp.book" class="container pt-5">
  <div class="mt-5 col-sm-8 card mx-auto" style="background-color: black;border-radius: 1em;">
    <div class="card-body text-center text-light">
      <img src="../../assets/Images/Notepad_icon.svg.png" alt="page" class="img-responsive"
        style="width: 10%;height: auto;">
      <h3 class="d-inline ml-2 mb-3 font-weight-bold">Proceed with your Appointment</h3>
      <div class="text-left">
        <form [formGroup]="appointmentForm" (ngSubmit)="confirmAppointment(appointmentForm)">
          <div class="form-group text-left mt-3">
            <label for="doa"><small class="font-weight-bold">Date of Appointment</small></label>
            <input formControlName="dateOfAppointment" type="date" class="form-control w-100">
            <small *ngIf="doa.touched && doa.invalid" class="text-danger">Date should be any upcoming 7 days</small>
          </div>
          <small class="font-weight-bold">Preferred Slot</small><br>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot1"
                value="9 AM to 10 AM"><small>9 AM to 10 AM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot2">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot2"
                value="10 AM to 11 AM"><small>10 AM to 11 AM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot3">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot3"
                value="11 AM to 12 PM"><small>11 AM to 12 PM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot4"
                value="2 PM to 3 PM"><small>2 PM to 3 PM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot5"
                value="3 PM to 4 PM"><small>3 PM to 4 PM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot6"
                value="4 PM to 5 PM"><small>4 PM to 5 PM</small>
            </label>
          </div>
          <button [disabled]="!appointmentForm.valid" class="btn btn-success btn-block font-weight-bold my-3"
            type="submit">Register</button>
        </form>
        <small *ngIf="ack.rej" class="text-danger font-weight-bold">Slot is unavailable</small>
      </div>
    </div>
  </div>
</div>
<!-- successful -->
<div *ngIf="ack.res && ack.flag" class="pt-5 justify-content-center container text-centre">
  <div class="row my-5 p-4"></div>
  <div class="card col-sm-5 mx-auto text-light font-weight-bold mt-5"
    style="background-color: black;border-radius: 1em;">
    <div class="card-body py-4 text-center">
      <p>Your appointment is scheduled successfully</p>
      <a [routerLink]="['/userappointments']" class="m-1 btn btn-primary w-50 font-weight-bold mx-auto"
        style="width: 15%;height: auto;">
        <i class="fa fa-arrow-left">&nbsp;&nbsp;</i> Go Back
      </a>
    </div>
  </div>
</div>


<!-- appointment -->

<div *ngIf="display.appt" class="container text-center">
  <div class="pt-5 d-flex flex-wrap justify-content-center">
    <ng-container *ngFor="let appt of appointmentDetails">
      <div class="my-5 p-3 mx-4 col-md-3 text-center card text-light"
        style="background-color: black;border-radius: 1em;">
        <h2 class="font-weight-bold mx-2">
          Appointment Date:<br> {{appt?.appointmentDate | date: "EEE MMM d y"}}
        </h2>
        <h4 class="font-weight-bold mb-2">
          Slot: {{appt?.slot}}
        </h4>
        <div class="font-weight-bold my-3">
          Booking Id: {{appt?.bookingId}}<br>
          User Id: {{appt?.userId}}<br>
          Coach Id: {{appt?.coachId}}<br>
        </div>
        <button (click)="reschAppt(appt?.bookingId)" class="btn btn-primary btn-block font-weight-bold mb-3">Reschedule
          Appointment</button>
        <button (click)="setBid(appt?.bookingId)" class="btn btn-danger btn-block font-weight-bold mb-1"
          data-toggle="modal" data-target="#cancelAppt">Cancel Appointment</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="cancelAppt" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body p-3 font-weight-bold">
              Are you sure you need to cancel the appointment?<br>
              <button (click)="cancel()" data-dismiss="modal" type="button"
                class="btn btn-success mr-2 my-3 w-25">Yes</button>
              <button type="button" class="btn btn-danger w-25" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <a [routerLink]="['/userhome']" class="btn btn-primary font-weight-bold mx-auto" style="width: 15%;height: auto;">
    <i class="fa fa-arrow-left">&nbsp;&nbsp;</i> Go Back
  </a>
</div>
<!-- delete successful message -->
<div *ngIf="ack.del" class="pt-5 justify-content-center container text-centre">
  <div class="row my-5 p-4"></div>
  <div class="card col-sm-5 mx-auto text-light font-weight-bold mt-5"
    style="background-color: black;border-radius: 1em;">
    <div class="card-body py-4 text-center">
      <p>Your appointment is cancelled successfully</p>
      <a [routerLink]="['/userhome']" class="m-1 btn btn-primary w-50 font-weight-bold mx-auto"
        style="width: 15%;height: auto;">
        <i class="fa fa-arrow-left">&nbsp;&nbsp;</i> Go Back
      </a>
    </div>
  </div>
</div>

<!-- Reschedule booking -->
<div *ngIf="apptFormDisp.resch" class="container pt-5">
  <div class="mt-5 col-sm-8 card mx-auto" style="background-color: black;border-radius: 1em;">
    <div class="card-body text-center text-light">
      <img src="../../assets/Images/Notepad_icon.svg.png" alt="page" class="img-responsive"
        style="width: 10%;height: auto;">
      <h3 class="d-inline ml-2 mb-3 font-weight-bold">Reschedule your Appointment</h3>
      <div class="text-left">
        <form [formGroup]="rescheduleForm" (ngSubmit)="rescheduleAppointment(rescheduleForm)">
          <div class="form-group text-left mt-3">
            <label for="doa"><small class="font-weight-bold">Date of Appointment</small></label>
            <input formControlName="dateOfAppointment" type="date" class="form-control w-100">
            <small *ngIf="rdoa.touched && rdoa.invalid" class="text-danger">Date should be any upcoming 7 days</small>
          </div>
          <small class="font-weight-bold">Preferred Slot</small><br>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot1"
                value="9 AM to 10 AM"><small>9 AM to 10 AM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot2">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot2"
                value="10 AM to 11 AM"><small>10 AM to 11 AM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot3">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot3"
                value="11 AM to 12 PM"><small>11 AM to 12 PM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot4"
                value="2 PM to 3 PM"><small>2 PM to 3 PM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot5"
                value="3 PM to 4 PM"><small>3 PM to 4 PM</small>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="slot1">
              <input formControlName="slot" class="form-check-input" type="radio" name="slot" id="slot6"
                value="4 PM to 5 PM"><small>4 PM to 5 PM</small>
            </label>
          </div>
          <button [disabled]="!rescheduleForm.valid" class="btn btn-success btn-block font-weight-bold my-3"
            type="submit">Register</button>
        </form>
        <small *ngIf="ack.rej" class="text-danger font-weight-bold">Slot is unavailable</small>
      </div>
    </div>
  </div>
</div>
<!-- successful -->
<div *ngIf="ack.res && !ack.flag" class="pt-5 justify-content-center container text-centre">
  <div class="row my-5 p-4"></div>
  <div class="card col-sm-5 mx-auto text-light font-weight-bold mt-5"
    style="background-color: black;border-radius: 1em;">
    <div class="card-body py-4 text-center">
      <p>Your appointment is rescheduled successfully</p>
      <a [routerLink]="['/userhome']" class="m-1 btn btn-primary w-50 font-weight-bold mx-auto"
        style="width: 15%;height: auto;">
        <i class="fa fa-arrow-left">&nbsp;&nbsp;</i> Go Back
      </a>
    </div>
  </div>
</div>


<!-- profile -->

<div class="container my-5 " *ngIf="display.profile">
  <div class="row my-5"></div>
  <div class="col-sm-8 mx-auto card my-5 py-1" style="background-color: black;border-radius: 1em;">
    <div class="row card-body">
      <div class="col-md-6 text-center">
        <img [attr.src]="imgUrl" alt="userDefaultImg" class="img-responsive w-75 rounded-circle">
      </div>
      <div class="col-md-6 text-light">
        <h1 class="mt-3 font-weight-bold">{{userDetails?.name}}</h1>
        <div class="font-weight-bold">
          <h3 class="font-weight-bold my-2 text-lg">{{userDetails?.userId}}</h3>
          Date of Birth: {{userDetails?.dateOfBirth | date:'d/m/yyyy'}}<br>
          Email Id: {{userDetails?.email}}<br>
          Mobile No: {{userDetails?.mobileNumber}}<br>
          Address: {{userDetails?.city}}, {{userDetails?.state}}, {{userDetails?.country}}<br>
          Pincode: {{userDetails?.pincode}}<br>
          <a [routerLink]="['/userhome']" class="btn btn-primary float-right font-weight-bold w-50">
            <i class="fa fa-arrow-left">&nbsp;&nbsp;</i> Go Back
          </a>
        </div>
      </div>
    </div>
  </div>
</div>