<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Solar Heater Bookings</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="sel">Please select Heater Id below:</label>
                    <select (change)="displaySelected()" id="sel" class="form-control" [(ngModel)]="selectedId">
                        <option value="null"></option>
                        <option *ngFor="let id of solarHeaterIds" value="{{id}}">{{id}}</option>
                    </select>
                </div>
                <span class="text-danger">{{errorMessage}}</span>
                <div *ngIf="selectedId">
                    Details of Solar Id: {{selectedId}}
                    <table class="table">
                        <tr>
                            <th>Customer Id</th>
                            <th>Distributor name</th>
                            <th>Purchase Date</th>
                            <th>Install Date</th>
                        </tr>
                        <tr>
                            <td>{{selectedSolar?.customerId}}</td>
                            <td>{{selectedSolar?.distributorName}}</td>
                            <td>{{selectedSolar?.purchaseDate}}</td>
                            <td>{{selectedSolar?.installationDate | daysCount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>