<div class="container my-3" *ngIf="formDisplay">
  <div class="col-sm-10 mx-auto card text-center pb-3" style="background-color: black; border-radius: 1rem;">
    <div class="card-body">
      <img style="width: 10%;height: auto;" src="../../assets/Images/User LogIn.jpg" alt="user-pic"
        class="card-img-top d-inline">
      <h1 class="font-weight-bold display-5 d-inline ml-4 text-light">User Profile</h1>
      <form [formGroup]="userRegisterForm" (ngSubmit)="userregister(userRegisterForm)"
        class="text-light text-left font-weight-bold">
        <div class="row justify-content-center my-3">
          <div class="col-sm-6">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" class="form-control">
            <small *ngIf="name.invalid && name.touched" class="form-text text-danger font-weight-bold">Name should have
              3 to 50 characters</small>
          </div>
          <div class="col-sm-6">
            <label for="pass">Password</label>
            <input formControlName="password" type="password" id="pass" class="form-control">
            <small *ngIf="pass.invalid && pass.touched" class="form-text text-danger font-weight-bold">Password should
              have 5 to 10 characters</small>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-sm-6">
            <label for="mobno">Mobile Number</label>
            <input formControlName="mobileNumber" type="text" id="mobno" class="form-control">
            <small *ngIf="mobno.invalid && mobno.touched" class="form-text text-danger font-weight-bold">Mobile number
              should have 10 digits</small>
          </div>
          <div class="col-sm-6">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" class="form-control">
            <small *ngIf="email.invalid && email.touched" class="form-text text-danger font-weight-bold">This field is
              required</small>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-sm-6">
            <label for="dob">Date of Birth</label>
            <input formControlName="dateOfBirth" type="date" id="d-o-b" class="form-control">
            <small *ngIf="dob.invalid && dob.touched" class="form-text text-danger font-weight-bold">Age should be
              between 20 and 100 years</small>
          </div>
          <div class="col-sm-6">
            <p>Gender</p>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="sex1">
                <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="sex1"
                  value="M">Male
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="sex2">
                <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="sex2"
                  value="F">Female
              </label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-sm-6">
            <label for="pin">Pincode</label>
            <input formControlName="pincode" type="text" id="pin" class="form-control">
            <small *ngIf="pin.invalid && pin.touched" class="form-text text-danger font-weight-bold">Pincode should have
              6 digits</small>
          </div>
          <div class="col-sm-6">
            <label for="city">City</label>
            <input formControlName="city" type="text" id="city" class="form-control">
            <small *ngIf="city.invalid && city.touched" class="form-text text-danger font-weight-bold">City should have
              3 to 20 characters</small>
          </div>
        </div>
        <div class="row justify-content-center my-3">
          <div class="col-sm-6">
            <label for="state">State</label>
            <input formControlName="state" type="text" id="state" class="form-control">
            <small *ngIf="state.invalid && state.touched" class="form-text text-danger font-weight-bold">State should
              have 3 to 20 characters</small>
          </div>
          <div class="col-sm-6">
            <label for="country">Country</label>
            <input formControlName="country" type="text" id="country" class="form-control">
            <small *ngIf="country.invalid && country.touched" class="form-text text-danger font-weight-bold">Country
              should have 3 to 20 characters</small>
          </div>
        </div>
        <div class="text-center">
          <button class="mx-auto text-center btn-success w-50 my-4 font-weight-bold btn-lg" type="submit"
            [disabled]="!userRegisterForm.valid">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container text-center h-auto w-75 py-5" *ngIf="!formDisplay">
  <img src="../../assets/Images/User LogIn.jpg" alt="user-pic" class="w-25 h-auto img-responsive">
  <h1 class="display-4 font-weight-bold">Account created successfully</h1>
  <h2 class="display-5 font-weight-bold">Your User Id is {{userId}}</h2>
  <a routerLink="/userlogin" class="btn btn-primary text-light font-weight-bold btn-lg w-25 my-3">Login Now</a>
</div>