<!-- schedules -->
<div *ngIf="showlist" class="pt-5 d-flex flex-wrap container justify-content-center">
  <ng-container *ngFor="let sch of scheduleDetails">
    <div class="my-5 p-3 mx-3 col-md-3 text-center card text-light" style="background-color: black;border-radius: 1em;">
      <h2 class="font-weight-bold mx-2">
        Appointment Date:<br> {{sch?.appointmentDate | date: "EEE MMM d y"}}
      </h2>
      <h4 class="font-weight-bold mb-2">
        Slot: {{sch?.slot}}
      </h4>
      <div class="font-weight-bold my-3">
        Booking Id: {{sch?.bookingId}}<br>
        User Id: {{sch?.userId}}<br>
      </div>
    </div>
  </ng-container>
</div>
<!-- profile -->
<div class="container my-5 " *ngIf="show">
  <div class="row my-5"></div>
  <div class="col-sm-8 mx-auto card my-5 py-1" style="background-color: black;border-radius: 1em;">
    <div class="row card-body content-justify-center">
      <div class="col-md-6 text-center">
        <img [attr.src]="imgUrl" alt="userDefaultImg" class="img-responsive w-75 rounded-circle">
      </div>
      <div class="col-md-6 text-light">
        <h1 class="mt-3 font-weight-bold">{{coachDetails?.name}}</h1>
        <div class="font-weight-bold">
          <h3 class="font-weight-bold my-2 text-lg">{{coachDetails?.coachId}}</h3>
          Date of Birth: {{coachDetails?.dateOfBirth | date:'d/m/yyyy'}}<br>
          Mobile No: {{coachDetails?.mobileNumber}}<br>
          Speciality: {{coachDetails?.speciality}}<br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- No Booking -->
<div class="container" *ngIf="noBooking">
  <div class="row">
    <div class="col-md-6 mx-auto pt-5 text-center">
      <img src="../../assets/Images/Notepad_icon.svg.png" alt="noBooking" class="img-responsive mb-sm-3"
        style="width:30%;height:auto">
      <h1 class="display-4 font-weight-bold">Could not find any bookings</h1>
    </div>
  </div>
</div>