<div class="container">
  <h1 class="text-center mt-sm-3 mb-sm-5 font-weight-bold display-4">
    We are at the heart of the appropriate care
  </h1>
  <div class="row justify-content-center">
    <div class="col-sm-4 card" style="background-color: black;border-radius: 1rem;">
      <img src="../../assets/Images/Life Coach LogIn.jpg" alt="coach-pic"
        class="card-img-top img-responsive mx-auto w-50 my-sm-4">
      <div class="card-body">
        <a routerLink="/coachlogin" class="btn btn-block btn-primary font-weight-bold mb-sm-4">Login as a Coach</a>
        <a routerLink="/coachsignup" class="btn btn-block btn-primary font-weight-bold mb-sm-4">Register as a Coach</a>
      </div>
    </div>
    <div class="col-sm-1 my-3"></div>
    <div class="col-sm-4 card" style="background-color: black;border-radius: 1rem;">
      <img src="../../assets/Images/User LogIn.jpg" alt="user-pic"
        class="card-img-top img-responsive mx-auto w-50 my-sm-4">
      <div class="card-body">
        <a routerLink="/userlogin" class="btn btn-block btn-primary font-weight-bold mb-sm-4">Login as a User</a>
        <a routerLink="/usersignup" class="btn btn-block btn-primary font-weight-bold mb-sm-4">Register as a User</a>
      </div>
    </div>
  </div>
</div>